h1 {
    color: #0077b6;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #0077b6;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0077b6;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #0077b6;
}

button {
    background-color: #0077b6;
    color: white;
    width: 300px;
    height: 25px;
}